<mat-toolbar class="calendar-toolbar">
  <div class="toolbar-left">
    <button mat-stroked-button (click)="goToToday()">오늘</button>
    <button mat-icon-button (click)="navigatePrev()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateNext()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <span class="header-label">{{ headerLabel() }}</span>
  </div>

  <mat-button-toggle-group
    [value]="calendarState.viewMode()"
    (change)="onViewModeChange($event.value)"
    hideSingleSelectionIndicator>
    <mat-button-toggle value="day">일</mat-button-toggle>
    <mat-button-toggle value="week">주</mat-button-toggle>
    <mat-button-toggle value="month">월</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<div class="calendar-content">
  <router-outlet />
</div>
