<mat-toolbar class="app-toolbar" color="primary">
  <span>예약 스케줄러</span>
</mat-toolbar>

@if (isDesktop()) {
  <!-- 데스크톱: 좌측 sidenav -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        @for (item of navItems; track item.route) {
          <a mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: false }">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <!-- 모바일: 하단 탭 바 -->
  <div class="mobile-layout">
    <div class="mobile-content">
      <router-outlet />
    </div>
    <nav class="bottom-nav">
      @for (item of navItems; track item.route) {
        <a class="bottom-nav-item"
           [routerLink]="item.route"
           routerLinkActive="active-tab"
           [routerLinkActiveOptions]="{ exact: false }">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="bottom-nav-label">{{ item.label }}</span>
        </a>
      }
    </nav>
  </div>
}
